html, body { overflow-x: hidden; }
/*Vertical Space Classes*/
.top2 { margin-top:2%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:20%; }
.top17 { margin-top:25%; }
.top30 { margin-top:30%; }
.bottom2 { margin-bottom:2%; }
.bottom5 { margin-bottom:5%; }
.bottom7 { margin-bottom:7%; }
.bottom10 { margin-bottom:10%; }
.bottom15 { margin-bottom:20%; }
.bottom17 { margin-bottom:25%; }
.bottom30 { margin-bottom:30%; }

.blog-meta-wrapper {
    margin-bottom: 20px;
}
.blog-meta {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #3b3b3b;
    list-style: none;
    margin: 0;
    padding: 1px 10px 0;
}
.blog-meta li {
    display: inline-block;
    font-size: 13px;
    margin: 0px 20px 0px 0px;
    text-transform: uppercase;
    line-height: 1.8;
    padding: 10px 0px;
}
p.comment-form-author, p.comment-form-email, p.comment-form-url {
    float: left;
    width: 33%;
    padding: 15px 10px;
}
/* WordPress classes needed*/
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.wp-caption-text, .sticky, .gallery-caption {}
.so-panel.widget_fullwidth  {
    width: 500%;
    margin-left: -200%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .so-panel.widget_fullwidth {
    width: 499%;
    margin-left: -202%;}
}
@media only screen and (min-width: 280px) and (max-width: 420px) {
    .so-panel.widget_fullwidth {
    width: inherit;
    margin-left: 0;
    }
}
